@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #000000e9;;
}

main {
    padding: 20px;
    color: #fff;
}

span.item-description{
    color: #fff;
    opacity: 0.9;
}

.ribeiro span {
    color: #00C853;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000e9;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
}

#sidebar_content {
    padding: 12px;

}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span :last-child {
    color: #00C853;
    font-size: 16px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {   
     background: rgba(34, 197, 94, 0.325);
    box-shadow: 0 0 15px rgba(34, 197, 94, 0.444);
    transform: translateX(4px);
}



.side-item:hover:not(.active),
#logout-btn:hover {
   background: rgba(34, 197, 94, 0.325);
    box-shadow: 0 0 15px rgba(34, 197, 94, 0.444);
    transform: translateX(4px); 
}

.side-item:hover:not(.active) span,
#logout-btn:hover span {
    color: #08ed6f;
}

.side-item.active span,
.side-item.active i,
.side-item:hover:not(.active) span,
.side-item:hover:not(.active) i {
    color:  #08ed6f;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 14px;
    color: #fff;
    opacity: 0.7;
}


.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 30px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #00C853;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-height: 20%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
    font-size: 17px;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

/* Formulario add gastos */
form {
    background-color: rgb(27, 28, 27);
    padding: 30px;
    border-radius: 12px;
    width: 660px;
    max-width: calc(100vw - 120px);
    margin: 0 auto;
    margin-left: 30px;
    margin-top: 20px;
}


form .form-group {
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;
}

form label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #e3e9f7;
    opacity: 0.7;

}

form input,
form select {
    padding: 10px;
    border: 1px solid #777474;
    border-radius: 8px;
    background-color: #343434;
    color: #fff;
    
}

form input:hover {
    border: 1px solid  #00C853;;
}

form button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #00C853;
    color: #fff;
    cursor: pointer;
}

/*Cards dashboard*/

.cards {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    flex-wrap: wrap;
}


.card {
    background: #16181d;
    border: 1px solid #2a2d35;
    border-radius: 15px;
    padding: 30px;
    transition: 0.3s;
    width: 530px;
    max-width: 100%;
    height: 130px;
    position: relative;
   
}


.card p {
    font-size: 15px;
    opacity: 0.7;
}

.card h2 {
    position: absolute;
    top: 50%;
    font-size: 30px;
}

.card i {
    position: absolute;
    top: 50px;
    right: 20px;
    color: red;
    font-size: 30px;
}

.card i.icon-blue {
    color: rgb(80, 80, 175);
}

.card i.icon-green {
    color: #00C853;
}